/*	font-family: 'Cinzel', serif;
	font-family: 'Chivo', sans-serif;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chivo', sans-serif;
	overflow: auto;
}



/*landing page*/
#jumbo-land {
	height: 100vh;
	background: 
	  linear-gradient(
		rgba(0,128,0,0.3), /*green*/
		rgba(0,255,0,0.2),	/*lime*/
		rgb(0,128,128,0.1), /*teal*/
		rgb(0,128,0,0.1)  /*green*/
		
	  ), url(https://images.pexels.com/photos/370717/pexels-photo-370717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/*padding-top: 20%;*/
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	border-radius: 0;  /*to remove rounded corners of jumbotron*/
}


.img-fluid {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
}	
	

.jumbotron h1 {
	font-family: 'Chivo', serif;
	font-size: 50px;
	color: #f2f2f2;  /*off white*/
	text-shadow: 1px 1px 2px black, 0 0 8px lime, 0 0 5px black;
}


.jumbotron hr {
	background-color: #fff;  /*white*/
}


.btn a {
	text-decoration: none; 
	color: #fff; /*white*/
}

.btn {
	color: black;
}

.btn a:hover {
	color: black;
}


/*end landing page*/


/*home page html*/
#home-landing {
	/*background-color: #333; /*off black*/
	/*background-image: url('https://i1.wp.com/www.ihdigital.com.ph/wp-content/uploads/2016/08/Online-Advertising.jpg?w=2120&ssl=1');*/
	background-image: url(https://images.pexels.com/photos/370717/pexels-photo-370717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}



#home-landing {
	color: #f2f2f2;	/*white*/
	font-size: 5em;  /*1em=16px	em is responsive*/
	letter-spacing: 5px;
	font-family: 'Cinzel', serif;
	padding: 20%;
	text-shadow: 1px 1px 2px black, 0 0 8px lime, 0 0 5px black;
/*	height: 90vh;*/
}

.row {
	padding-top: 4vh;
}

/*start carousel*/

#carousel-home {
	height: 80vh;
}

#carousel-home img {
	height: 70vh;
	max-height: 70vh;
}







/*end carousel*/



#ft {
	font-family: 'Chivo', serif;
	font-size: 18px;
}

#home-items .card {
	height: 450px;
	margin-bottom: 10px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); 
}

#home-items .card img {
	height: 240px;
	width: auto;

}




/*end home page html*/



/*about html*/
#jumbotron-about {
	background-color: #141414; 	/*off black*/
	height: 100vh;
	border-radius: 0;	/*to remove the rounded corners*/

}

#about-landing {
	color: #f2f2f2;	/*white*/
	font-size: 5em;  /*1em=16px	em is responsive*/
	letter-spacing: 5px;
	font-family: 'Cinzel', serif;
	padding-top: 20vh;
	text-shadow: 4px 4px 15px #000000;
}

#about-items .card {
	height: 440px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 20px #DDA0DD;
	letter-spacing: 1px;
}

#about-items .card img {
	height: 300px;
	width: auto;
	padding-top: 20px;
}




#mission {
	height: 100%;	/*use percent para di mag-overflow*/
	background-color: #141414;	/*off black*/
	color: #f2f2f2;	/*off white*/
}


#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}

.about-tags {
	font-weight: bold;
	font-family: 'Chivo', serif;
}





/*end about html*/




/*start gallery page*/
#head-gall {
	margin-top: 1%;
	text-transform: uppercase;
	letter-spacing: .5em;	/*spacing between letters*/
	background-color: #141414;	/*off black*/
	color: #f2f2f2;	/*off white*/
	border-radius: 0%;
}

.active {
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

#gallery-items .card {
	height: 400px;
	margin-bottom: 20px;
		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}

#gallery-items .card img {
	height: 275px;
	margin: 10px 25px 40px 25px;
}






/*end gallery page*/


/*contact us page*/



























@media only screen and (max-width: 400px) {

 	#img {
 	width: 40%;
	}

	#home-landing {
	height: 100vh;
	width: 100vw;
	padding: 0;
	padding-top: 60%;
	}


	#carousel-home {
	height: 35vh;
	}

	#carousel-home img {
	height: 35vh;
	max-height: 35vh;
	}
	
	#head-gall {
	margin-top: 5%;
	}

	#gallery-items .card img {
	height: 275px;
	margin: 10px 5px 5px 5px;
	}

	#gallery-items .card {
	height: 350px;
	}
	

	.jumbotron h1 {
		font-size: 35px;
	}
	



}


@media only screen and (min-width: 401px) and (max-width: 960px) {
	#home-landing {
	font-size: 4em;
	}
	
	#head-gall {
	margin-top: 13%;

	}

	
	#home-items .card {
	height: 450px;
	margin-bottom: 10px;
	}

	#home-items .card img {
	height: 160px;
	width: auto;
	}
	
	.footer {
		margin-top: 15px;
	}
	
	#carousel-home {
	height: 80vh;
	}

	#carousel-home img {
	height: 70vh;
	max-height: 70vh;
	width: 80vw;
	}	


}
	


	@media only screen and (min-width: 961px) {

	
	#home-items .card {
	height: 450px;
	margin-bottom: 10px;
	}

	#home-items .card img {
	height: 190px;
	width: auto;
	}

	.footer {
		margin-top: 15px;
	}




}






/*.container {
	background-color: ;
	height: 10vh;
}
*/









